
*.class


*.log


*.ctxt


.mtj.tmp/


*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ / VS Code / Eclipse
.idea/
.vscode/
*.iml
.project
.classpath
.settings/


target/
out/


.mvn/wrapper/maven-wrapper.jar


.DS_Store
Thumbs.db


javafx_cache/


launcher/*.exe
launcher/*.lnk
installer/output/


.idea/
.vscode/
