.root {
    -fx-background-color: linear-gradient(to bottom, #0c0c0c, #141414);
    -fx-font-family: "JetBrains Mono", monospace;
}

.output {
    -fx-control-inner-background: #0e0e0e;
    -fx-text-fill: #00ffe7;
    -fx-font-size: 14px;
    -fx-border-color: #222;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.input {
    -fx-control-inner-background: #111;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-border-color: #00ffe7;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.prompt {
    -fx-text-fill: #00ffe7;
    -fx-font-weight: bold;
}

.label, .text-area {
    -fx-highlight-fill: #00ffe7;
}
